
.top-slider_container{
  position: relative;
}
.top-slider{
  position: relative;
  overflow: hidden;
  height: 440px;

}
.top-slider .top-slider_element{
  position: relative;
  height: 440px;
  z-index: 0;
}
.top-slider.webp .top-slider_image__print{
  height: 100%;
  background-image: url("../images/banner.webp");
  display: flex;
  z-index: 0;
  background-size: cover;
  background-position: 50% 0;
}
.top-slider.no-webp .top-slider_image__print{
  height: 100%;
  background-image: url("../images/banner.jpg");
  display: flex;
  z-index: 0;
  background-size: cover;
  background-position: 50% 0;
}

.top-slider_image_etiket{
  height: 100%;
  display: flex;
  z-index: 0;
  background-size: cover;
  background-position: 50% 0;
}
.top-slider.webp .top-slider_image_etiket{
  background-image: url("../images/banner-2.webp");
}
.top-slider.no-webp .top-slider_image_etiket{
  background-image: url("../images/banner-2.jpg");
}
@media (max-width: 1199px) {
  .top-slider.webp .top-slider_image__print{
    background-image: url("../images/banner-1200.webp");
    background-position: 0 0;
  }
  .top-slider.no-webp .top-slider_image__print{
    background-image: url("../images/banner-1200.jpg");
    background-position: 0 0;
  }
  .top-slider.webp .top-slider_image_etiket{
    background-image: url("../images/banner2-1200.webp");
    background-position: 0 0;
  }
  .top-slider.no-webp .top-slider_image_etiket{
    background-image: url("../images/banner2-1200.jpg");
    background-position: 0 0;
  }
}

@media (max-width: 991px) {

  .top-slider.webp .top-slider_image__print{
    background-image: url("../images/banner-991.webp");
  }
  .top-slider.no-webp .top-slider_image__print{
    background-image: url("../images/banner-991.jpg");
  }
  .top-slider.webp .top-slider_image_etiket{
    background-image: url("../images/banner2-991.webp");
  }
  .top-slider.no-webp .top-slider_image_etiket{
    background-image: url("../images/banner2-991.jpg");
  }
}
@media (max-width: 768px) {

  .top-slider.webp .top-slider_image__print{
    background-image: url("../images/banner-768.webp");
  }
  .top-slider.no-webp .top-slider_image__print{
    background-image: url("../images/banner-768.jpg");
  }
  .top-slider.webp .top-slider_image_etiket{
    background-image: url("../images/banner2-768.webp");
  }
  .top-slider.no-webp .top-slider_image_etiket{
    background-image: url("../images/banner2-768.jpg");
  }
}
@media (max-width: 540px) {

  .top-slider.webp .top-slider_image__print{
    background-image: url("../images/banner-540.webp");
  }
  .top-slider.no-webp .top-slider_image__print{
    background-image: url("../images/banner-540.jpg");
  }
  .top-slider.webp .top-slider_image_etiket{
    background-image: url("../images/banner2-540.webp");
  }
  .top-slider.no-webp .top-slider_image_etiket{
    background-image: url("../images/banner2-540.jpg");
  }
}

.top-slider_wrap{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.top-slider__title{
  font-family: 'Qanelas-web';
  font-weight: 800;
  font-size: 33px;
  line-height: 1.2;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  text-transform: uppercase;
}
.top-slider__paragraph{
max-width: 48%;
  color: #FFD1A6;
  text-align: left;
}
@media (max-width: 1199px) {
  .top-slider__title{
    font-size: 37px;
    margin-top: 50px;
  }
  .top-slider__paragraph{
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .top-slider__title{
    margin-top: 30px;
  }
  .top-slider__paragraph{
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .top-slider__title{
    font-size: 30px;
  }
  .top-slider__paragraph{
    max-width: 400px;
  }
}
@media (max-width: 540px) {
  .top-slider__title{
  }
  .top-slider__paragraph{
    max-width: 100%;
  }
}
.top-slider_container .slick-prev, .top-slider_container .slick-next{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  border: none;
  cursor: pointer;
}
.top-slider_container .slick-prev{
  z-index: 2;
  left: 70%;
  background: #951406;
}
.top-slider_container .slick-prev::after{
  content: url("../images/left-arrow.svg");
  position: absolute;
  width: 23px;
  height: 42px;
  top:50%;
  transform: translate(-50%, -50%);
}
.top-slider_container .slick-next{
  z-index: 2;
  left: calc(70% + 160px);
  background: #951406;
}
.top-slider_container .slick-next::after{
  content: url("../images/right-arrow.svg");
  position: absolute;
  width: 23px;
  height: 42px;
  top:50%;
  transform: translate(-50%, -50%);
}
.top-slider_container .top-slider_controls{
  position: absolute;
  height: 60px;
  width: calc(30% - 60px);
  background-image: inherit;
  right: 0;
  display: flex;
  bottom: 0;
  overflow: hidden;
}
.top-slider_container .top-slider_controls:before{
  content: "";
  background-image: inherit;
  filter: blur(15px) brightness(1.1);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  right: -30px;
  bottom: -30px;
  width: 190%;
  height: 500px;
  background-position: 100% 100%;
}

@media (max-width: 991px) {
  .top-slider_container .slick-prev{
    left: auto;
    right: 220px;
  }
  .top-slider_container .slick-next{
    left: auto;
    right: 60px;
  }

  .top-slider_container .top-slider_controls{
    width: 280px;
    right: 0;
    bottom: 0;
  }
}
/*кнопки*/
.top-slider ul{
  display: flex;
  position: absolute;
  bottom: 0;
  height: 60px;
  left:  calc(70% + 60px);
  z-index: 3;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.top-slider ul li{
  display: block;
  width: 5px;
  height: 5px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition-duration: 0.3s;
  transition-property: height, width;
}
.top-slider ul li button{
  display: none;
  /*width: 5px;*/
  /*height: 5px;*/
  /*margin: 5px;*/
  /*border-radius: 50%;*/
  /*border: none;*/
  /*font-size: 0;*/
}
.top-slider ul li.slick-active {
  background-color: white;
  width: 8px;
  height: 8px;
}
@media (max-width: 991px) {
  .top-slider ul{
    left:  auto;
    right: 120px;
  }
}