
/*DEVELOPMENT SECTION*/

.development-box {
  height: 540px;
  margin: 40px auto 0;
  background: #00ccff; /* Old browsers */
  background: -moz-linear-gradient(top, #00ccff 0%, #008cff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00ccff 0%, #008cff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00ccff 0%, #008cff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ccff', endColorstr='#008cff', GradientType=0); /* IE6-9 */

  @media (max-width: $desctop) {
    height: 485px;
  }
  @media (max-width: $planshet) {
    height: 438px;
  }
  @media (max-width: $landPhone) {
    height: 388px;
  }
  @media (max-width: $phone) {
    height: auto;
    margin: 0 auto ;
  }
}

.development-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 460px 1fr;
  @media (max-width: $desctop) {
    grid-template-columns: 410px 1fr;
  }
  @media (max-width: $planshet) {
    grid-template-columns: 310px 1fr;
  }
  @media (max-width: $landPhone) {
    grid-template-columns: 225px 1fr;
  }
  @media (max-width: $phone) {
    grid-template-columns: 1fr;
  }
}

.development-image-wrapper {
  position: relative;
  align-self: stretch;
  //width: 540px;
  @media (max-width: $phone) {
    padding-top: 30px;
  }
}

img.development-image {
  display: block;
  position: absolute;
  top: -111px;
  left: -90px;
  width: 540px;
  height: auto;
  transition: all 0.8s;
  @media (max-width: $desctop) {
    width: 485px;
    top: -83px;
    left: -103px;
  }
  @media (max-width: $planshet) {
    width: 420px;
    top: -55px;
    left: -130px;
  }
  @media (max-width: $landPhone) {
    width: 304px;
    top: 17px;
    left: -105px;
  }
  @media (max-width: $phone) {
    display: none;
  }
}

img.development-image-bitrix {
  display: none;
  @media (max-width: $phone) {
    display: inline-block;
  }
}

.development-content-wrapper {
  //overflow: hidden;
  text-align: right;
  flex: 1 1;
  align-self: stretch;
  transition: all 0.8s;
  @media (max-width: $phone) {
    padding-bottom: 30px;
    text-align: center;
  }
}

.development-title {
  font-size: 66px;
  line-height: 75px;
  color: #fff;
  margin-top: 30px;
  @media (max-width: $desctop) {
    font-size: 50px;
    line-height: 70px;
  }
  @media (max-width: $planshet) {
    font-size: 40px;
    line-height: 56px;
  }
  @media (max-width: $landPhone) {
    font-size: 28px;
    line-height: 39px;
  }
}

.development-content {
  text-align: right;
  font-size: 24px;
  line-height: 36px;
  color: #c1ffff;
  @media (max-width: $desctop) {
    font-size: 21px;
    line-height: 29px;
  }
  @media (max-width: $planshet) {
    font-size: 18px;
    line-height: 25px;
  }
  @media (max-width: $landPhone) {
    font-size: 14px;
    line-height: 20px;
  }
  @media (max-width: $phone) {
    text-align: center;
  }
}

.development-button {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 14px 40px;
  width: 235px;
  height: 55px;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.3s;
  &:hover {
    color: white;
    text-decoration: none;
    background: $orange;
    border: 2px solid $orange;
  }
  span {
    display: inline-block;
    position: relative;
  }
  span::after {
    position: absolute;
    content: "";
    background: url("../images/button-arrow.svg");
    width: 32px;
    height: 17px;
    top: 2px;
    right: -50px;
    transition: all 0.3s ease-in-out;
  }
}

.development-button:hover span::after {
  transform: translateX(15px);
}

/*END DEVELOPMENT SECTION*/