.production-property{

}

.production-property_image{
  width: 40%;
  //background: #0b2e13;
  position: relative;
  z-index: 1;
  align-self: flex-start;
  img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;

  }
  &:after{
     content: "";
     width: 100%;
     height: 100%;
     border: 10px solid $white-red;
     top: 20px;
    left: 20px;
    position: absolute;
    z-index: 0;
   }

}
.production-property_text-block{
  text-align: left;
  width: 54%;
  font-size: 18px;
  .production-property_paragraph{
    padding: 0;
    margin: 0;
    span{
      font-weight: 800;
    }
  }

  .production-property_footnote{
    font-size: 16px;
  }
}
.production-property_icons{
  margin-top: 10px;
  img{
    width: 7%;
    display: inline-block;
    margin-right: 15px;
  }
}

@media  (max-width: 1199px){
  .content-box .production-property_text-block{
    font-size: 16px;

    .production-property_footnote{
      font-size: 14px;
    }
  }
}
@media  (max-width: 768px){
  .production-property_image{
    width: calc(100% - 20px);
    //background: #0b2e13;
    margin-bottom: 50px;
    img{


    }
    &:after{

    }

  }
  .production-property_text-block{
    width: 100%;

    .production-property_footnote{
    }
  }
  .production-property_icons{
    img{
      width: 43px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}